*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#020617;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#020617;
border-bottom:1px solid #111;
position:sticky;
top:0;
}

.logo{
font-size:26px;
font-weight:bold;
color:#facc15;
}

nav a{
color:white;
text-decoration:none;
margin-left:30px;
transition:.3s;
}

nav a:hover{
color:#facc15;
}

/* HERO */

.hero{
height:92vh;
background:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836") center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:65px;
background:rgba(0,0,0,.6);
padding:30px;
border-radius:10px;
animation:fade 1.5s ease;
}

@keyframes fade{
from{opacity:0; transform:translateY(40px);}
to{opacity:1;}
}

/* MENU CARDS */

.container{
padding:60px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

.card{
background:#0f172a;
border-radius:12px;
overflow:hidden;
transition:.4s;
}

.card:hover{
transform:translateY(-12px);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card h3{
margin:10px;
}

/* BUTTON */

.btn{
background:#facc15;
border:none;
padding:10px;
margin:10px;
cursor:pointer;
font-weight:bold;
border-radius:6px;
}

/* CART COUNTER */

.cart-box{
position:fixed;
right:20px;
bottom:20px;
background:#facc15;
color:black;
padding:15px;
border-radius:50%;
font-weight:bold;
}

/* FORM */

.form{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
}

.form-box{
background:#0f172a;
padding:40px;
border-radius:10px;
width:300px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:6px;
}

/* GALLERY */

.gallery{
padding:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:10px;
transition:.3s;
}

.gallery img:hover{
transform:scale(1.05);
}
